h1 {
    font-size: 200%;
    margin: 10px;
}

h2 {
    font-size: 150%;
    margin: 10px;
}

body, html, .app-widget {
    width: 100%;
    height: 100%;
}

*:focus {
    outline: none;
}


.main-page-body {
    width: 1000px;
    margin: auto;
    overflow: visible;
}

#profile-image {
    float: left;
    width: 120px;
    height: 90px;
    margin-right: 25px;
}

#main-page-tab-buttons {
    margin-top: 20px;
}

.main-page-display-panel {
    border: 1px solid black;
    display: inline-block;
    width: 700px;
    vertical-align: top;
}

.gwt-Anchor {
    color: #0000FF;
    cursor: pointer;
}
.gwt-Anchor:visited {
    color: purple;
}

.about-page,
.blog-page,
.projects-page {
    min-height: 800px;
    margin: 15px;
    overflow: visible;
    position: relative;
}

.about-page p {
    text-indent: 20px;
    margin-bottom: 15px;
}

#blog-list-panel-container {
    position: absolute;
    left: -115px;
    top: 0;
    overflow: visible;
}

.blog-list-panel {
    width: 100px;
}

.current-blog {
    display: inline-block;
    background-color: green;
    vertical-align: top;
}

.blog-list-item.blog-list-item-selected {
    background-color: white;
    border-right: none;
}

.blog-list-item {
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: 10px;
    background-color: gray;
    border: 1px solid black;
}

.blog-list-item:hover {
    background-color: #add8e6;
}

.my-twitter-follow-button {
    display: inline-block;
}

.twtr-widget {
    display: inline-block;
}

.twtr-hd {
    display: none;
}

.twtr-ft img {
    background-color: black;
}

.tab-anchor {
    display: inline-block;
    background-color: gray;
    padding: 3px;
    padding-bottom: 0;
    border: 1px solid black;
    border-bottom: none;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: visible;
    position: relative;
}

.tab-anchor div {
    overflow: visible;
}

.tab-anchor-selected .tab-cover {
    position: absolute;
    background-color: white;
    left: 0px;
    right: 0px;
    bottom: -1px;
    height: 1px;
}

.tab-anchor.tab-anchor-selected {
    background-color: white;
}

.tab-anchor:hover {
    background-color: #add8e6;
}